.seccion3 {
    height: 60vh;
    justify-content: start;
    background: rgba(198, 162, 120, 0.747);
    box-sizing: border-box;
    padding: 35px;
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 35px;
}

.seccion3 img {
    width: 450px;
    float: left;
    padding-right: 15px;
}