.seccion1 {
    height: 80vh;
    background: white;
    box-sizing: border-box;
    padding: 35px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
}

.seccion1 img {
    width: 450px;
}

.seccion1-clases {
    height: 80vh;
    background: white;
    box-sizing: border-box;
    padding: 35px;
    display: flex;
    margin-bottom: 50px;
    background-image: url('images/vecteezy_circ.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 450px;
    justify-content: center;
}