.btn {
    width: 10rem;
    align-self: flex-end;
}

.card {
    position: absolute;
    right: 20px;
    top: 500px;
    background: url('images/clase-card.jpg');
    border: 2rem;
    border-color: white;

  
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card p {
    align-self: center;
}

.card-title {
    font-size: 6rem;
}

#carouselExampleIndicators {
    width: 1200px;
    opacity: 0.5;
}

.carousel-item {
    justify-content: center;
}
.colorVerde {
    color: green;
}

.center {
    width: 450px;
}

.container h1 {
    color: white;
}

#fondo {
    background-repeat: no-repeat;
    background-position: center;
}

#fondo-seccion1 {
    align-self: center;
    width: max-content;
}

h5 {
    padding-bottom: 225px;
}


.seccion1 {
    height: 80vh;
    background: white;
    box-sizing: border-box;
    padding: 35px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
}

.seccion1 img {
    width: 450px;
}

.seccion1-clases {
    height: 80vh;
    background: white;
    box-sizing: border-box;
    padding: 35px;
    display: flex;
    margin-bottom: 50px;
    background-image: url('images/vecteezy_circ.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 450px;
    justify-content: center;
}

.seccion2 {
    background: blue;
    color: white;
    box-sizing: border-box;
    padding: 35px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: start;
    margin-bottom: 35px;
}

.seccion2 img{
    width: 450px;
}

.seccion2-clases {
        background: blue;
        color: white;
        box-sizing: border-box;
        padding: 35px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: start;
        margin-bottom: 35px;
}
.seccion2-clases img {
    width: 450px;
    float: left;
    padding-right: 25px;
}

.seccion2-clases p {
    padding-left: 50px;
}
.seccion3 {
    justify-content: start;
    background: rgba(198, 162, 120, 0.747);
    box-sizing: border-box;
    padding: 35px;
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 35px;
}

.seccion3 img {
    width: 450px;
}

.text-center {
    display: flex;
    justify-content: center;
}

